@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

:root {
    --font1:  Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Sacramento', cursive;
    --font3: 'PT Sans Narrow', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100%;
    background-color: darkgrey; 
    font-family: var(--font1)
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font3);
    font-size: 6vw;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}
    
footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font2);
    font-size: 3.5vw;
    font-weight: bold;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(56, 56, 56);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.562);
    background-attachment: fixed;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.322);
    display: inline-block;
    padding: 5px;
    text-shadow: 2px 2px 0px black;
}

section > p {
    padding-bottom: 2em;
}

section#img01 {
background-image: url(Imagens/poemedit.png);
background-position: right center;
background-size: cover;
}

section#img02 {
    background-image: url(Imagens/fernandopesssoa1.jpg);
    background-position: right center;
    background-size: cover;
}